<div class="info">
  <div
    class="thumbnail"
    [style.backgroundImage]="
      'url(' + download.info.videoDetails.thumbnails[0].url + ')'
    "
  ></div>
  <div class="title">
    <span (click)="expanded = !expanded">{{
      download.info.videoDetails.title
    }}</span>
  </div>
  <button mat-mini-fab (click)="downloadDefault()">
    <mat-icon aria-label="Example icon-button with a heart icon"
      >arrow_downward</mat-icon
    >
  </button>
</div>

<ng-container *ngIf="expanded">
  <div class="formats" *ngFor="let format of download.info.formats">
    {{ format.container }}
    <span *ngIf="!format.hasVideo">Audio Only</span>
    <span *ngIf="!format.hasAudio">Video Only {{ format.resolution }}</span>
    <span *ngIf="format.hasAudio && format.hasVideo"
      >Video & Audio {{ format.resolution }}</span
    >
    <ng-container *ngIf="format.$download">
      <div *ngIf="format.$download | async as activeDownload">
        Progress: {{ activeDownload.progress }} {{ activeDownload.loaded }} /
        {{ activeDownload.total }}
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="format.$download">
      <span *ngIf="format.$download | async as activeDownload"
        >Progress: {{ activeDownload.progress }} {{ activeDownload.loaded }} /
        {{ activeDownload.total }}</span
      >
    </ng-container> -->

    <button *ngIf="!format.downloaded" (click)="download.download(format)">Download</button>
    <button *ngIf="format.downloaded" (click)="download.open(format)">Open</button>

  </div>
</ng-container>
